DATABASE_URL="postgresql://tk:mk@rental.cnuqu02u680u.ap-southeast-1.rds.amazonaws.com:5432/rental_app"
PRISMA_QUERY_ENGINE_LIBRARY=/root/rental-app/node_modules/.pnpm/@prisma+client@6.17.1_prisma@6.17.1_typescript@5.9.3__typescript@5.9.3/node_modules/.prisma/client/libquery_engine-debian-openssl-3.0.x.so.node